# ==========================================
# INFRAESTRUCTURA GLOBAL
# ==========================================

# ---------------------------------------
# POSTGRESQL
# ---------------------------------------
POSTGRES_DB=app_db
POSTGRES_USER=app_admin
POSTGRES_PASSWORD=app_local_pass_123

# ---------------------------------------
# MINIO (S3 Local)
# ---------------------------------------
MINIO_ROOT_USER=minio_admin
MINIO_ROOT_PASSWORD=minio_local_pass_123
